#network-graph {
	background-color: #0e171d;
	float: left;
}

#bar-graph {
	background-color: #0e171d;
	float: left;
}

#donut-graph {
	background-color: #0e171d;
	float: left;
	border-top: 1px solid #717171;
	border-bottom: 1px solid #717171;
}

#analytics {
	background-color: #0e171d;
	float: left;
}

.visual {
	float: left;
}

.bar {
  fill: #ff2a67;
}

.bar2 {
  fill: #0073de;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* float clearfix */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
