#network-graph {
	background-color: black;
	float: left;
}

#bar-graph {
	background-color: black;
	float: left;
}

#donut-graph {
	background-color: black;
	float: left;
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #3d3d3d;
}

.visual {
	float: left;
}

.bar {
  fill: #ff2a67;
}

.bar2 {
  fill: blue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}